# Web Scrapping Using 2011 Census of India

## INTRODUCTION

The Census of India conducted every 10 year's. First census Started in 1871.
The word 'Census' came in the Latin word 'Censere' and the 'Censere' meaning to assess. Or other word Census meaning 'an official count or survey, especially of a population'.
Census is nothing but a process of collecting, analyzing, evaluating, publishing and discripting statistical data regarding the population.

### Importing Required Liabraries

In [1]:
import pandas as pd                 # used for data analysis.
import numpy as np                  # used to perform mathematical operations on arrays.
import re                           # to check if a string contains the specified search pattern.
import requests                     # allow you to send HTTP/1.1 requests using Python.
from bs4 import BeautifulSoup       # web scraping purposes to pull the data out of HTML and XML files.

### Data Collecting
The get() method sends a GET request to the specified url. Using Get() method we are accessing data from 'census2011.co.in'

In [2]:
page = requests.get("https://www.census2011.co.in/city.php") # to access data for a specific resource from a REST API.
page

<Response [200]> means we are permitted to access data.

#### we are storing our data in HTML format

In [4]:
soup = BeautifulSoup(page.text)    # pulling data out of HTML and XML files

In [5]:
#soup                                  # Showing All the HTTPs format.

After scraping we are found that in our required data are divided into two part.
All the even index belong's with class "d1" and it store's in one variable, odd index belong's with class "d2" and it store's another variable.

In [6]:
data2  = soup.find_all("tr",class_="d1")      #odd
data3  = soup.find_all("tr",class_="d2")     #even
print(f"Number of total row's captured in data: {len(data2)}")
print(f"Number of total row's captured in data: {len(data3)}")

Number of total row's captured in data: 249
Number of total row's captured in data: 249

### Collection of necessary information

In [7]:
data4 = []
odd_rank = []
odd_city = []
odd_State = []
odd_Population = []
odd_Metropolitan = []
odd_Sexratio = []
odd_Literacy = []
for i in data2:
    data4.append(i.text)
for i in data4: 
    odd_rank.append(i.split("\n")[1])
    odd_city.append(i.split("\n")[2])
    odd_State.append(i.split("\n")[3])
    odd_Population.append(i.split("\n")[4])
    odd_Metropolitan.append(i.split("\n")[5])
    odd_Sexratio.append(i.split("\n")[6])
    odd_Literacy.append(i.split("\n")[7])

In [8]:
data5 = []
even_rank = []
even_city = []
even_State = []
even_Population = []
even_Metropolitan = []
even_Sexratio = []
even_Literacy = []
for i in data3:
    data5.append(i.text)
for i in data5:
    even_rank.append(i.split("\n")[1])
    even_city.append(i.split("\n")[2])
    even_State.append(i.split("\n")[3])
    even_Population.append(i.split("\n")[4])
    even_Metropolitan.append(i.split("\n")[5])
    even_Sexratio.append(i.split("\n")[6])
    even_Literacy.append(i.split("\n")[7])

### Create Dataframe

In [9]:
odd = pd.DataFrame({"CITY":odd_city,"RANK":odd_rank,"STATE":odd_State,"POPULATION":odd_Population,"SEXRATIO":odd_Sexratio,"LITERACY":odd_Literacy})
even = pd.DataFrame({"CITY":even_city,"RANK":even_rank,"STATE":even_State,"POPULATION":even_Population,"SEXRATIO":even_Sexratio,"LITERACY":even_Literacy})

In [10]:
# Append Dataset
data = odd.append(even)

In [11]:
data.head(4)

        CITY RANK        STATE  POPULATION SEXRATIO LITERACY
0     Mumbai    1  Maharashtra  12,442,373      853    89.73
1  Bangalore    3    Karnataka   8,443,675      923    88.71
2  Ahmedabad    5      Gujarat   5,577,940      898    88.29
3    Kolkata    7  West Bengal   4,496,694      908    86.31

### Data Cleaning

In [12]:
a = []
for i in data['POPULATION']:
    a.append(re.sub(r",","",i))
data['POPULATION']=a

In [13]:
data["RANK"]=data["RANK"].astype("int")
data["POPULATION"]=data["POPULATION"].astype("float")
data["SEXRATIO"]=data["SEXRATIO"].astype("float")
data["LITERACY"]=data["LITERACY"].astype("float")

In [14]:
data   # This is our final dataset

           CITY  RANK           STATE  POPULATION  SEXRATIO  LITERACY
0        Mumbai     1     Maharashtra  12442373.0     853.0     89.73
1     Bangalore     3       Karnataka   8443675.0     923.0     88.71
2     Ahmedabad     5         Gujarat   5577940.0     898.0     88.29
3       Kolkata     7     West Bengal   4496694.0     908.0     86.31
4          Pune     9     Maharashtra   3124458.0     948.0     89.56
..          ...   ...             ...         ...       ...       ...
244  Bhadreswar   490     West Bengal    101477.0     903.0     86.51
245     Kasganj   492   Uttar Pradesh    101277.0     891.0     77.36
246     Gangtok   494          Sikkim    100286.0     912.0     89.33
247       Nagda   496  Madhya Pradesh    100039.0     947.0     80.71
248  Kapurthala   498          Punjab     98916.0     839.0     85.08

[498 rows x 6 columns]

In [15]:
#convert csv file.
data.to_csv("Census.csv")